.inner{
    overflow: hidden;
}

.inner img{
    transition: all 1.5s ease;
    height: 150px;
}

.inner:hover img{
    transform: scale(1.5);
}

.card{
    margin: 20px 10px;
}
.card-body{
    min-height: 240px;
    max-height: 280px;
    box-shadow: 0 0  20px 7px rgba(0,0,0,0.1);
}

.card-body a{
    color: #ddd;
    text-decoration: none;
    font-size: 15px;
    margin-top: auto;
    font-weight: 600;
}

.card-body a:hover{
    color: #999;
    text-decoration: none;
}